<div class="row">
  <div class="col">
    <h4 class="text-center">Actividad</h4>
    <p>Utilice números aleatorios de un dígito, 1,2,3,4,5, 6,7, 8, 9, para
      generar observaciones aleatorias para cada una de las siguientes
      situaciones:</p>
    <p>La tirada al de aire por parte de 5 personas de una moneda (100
      veces cada una).
    </p>
    <p>Entregar resultados acerca de:</p>
    <ul>
      <li>Cual es la probabilidad de cara por persona.</li>
      <li>Cual es la probabilidad de sello por persona.</li>
      <li>Probabilidad de cara general. <span class="badge rounded-pill bg-primary">({{ totalCara }} - {{ porCara }}% )</span></li>
      <li>Probabilidad de sello general. <span class="badge rounded-pill bg-success">({{ totalSello }} - {{ porSello }}% )</span></li>
    </ul>
  </div>
</div>
