<div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/assets/caraosello.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cara o Sello</h5>
          <p class="card-text">Utilice números aleatorios de un dígito, 1,2,3,4,5, 6,7, 8, 9, para
            generar observaciones aleatorias para cada una de las siguientes
            situaciones...</p>
          <a [routerLink]="'/pages/cara-sello'" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/assets/semaforo.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Semaforo</h5>
          <p class="card-text">El color de la luz del semáforo cuando un carro llega al azar a una
            hora determinada, si el 40% del tiempo está en verde, 10% en amarillo
            y 50% en rojo...</p>
          <a [routerLink]="'/pages/semaforo'" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>

